
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --x: 0vw;
  --y: 0vh;
  --delay: 0ms;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#bottombackground {
  clip-path: polygon(62% 50%, 79% 46%, 100% 38%, 100% 100%, 0 100%, 0 46%, 18% 49%, 36% 41%, 49% 44%);
  width: 100%;
  height: 100%;
}

#input {

  margin-top: 1vmin;
  clip-path: polygon( calc( 0% + 1em ) 0, calc( 100% - 1em ) 0, 100% 50%, calc( 100% - 1em ) 100%, calc( 0% + 1em ) 100%, 0% 50%);
  font-size: calc( 8px + 1.5vmax );
  background-color: black;
  padding: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  
  z-index: 10;
}

#textinput {
  
  clip-path: polygon( calc( 0% + 0.55em ) 0, calc( 100% - 0.55em ) 0, 100% 50%, calc( 100% - 0.55em ) 100%, calc( 0% + 0.55em ) 100%, 0% 50%);
  background-color: rgb(235, 235, 235);
  height: 1.2em;
  
  width: 20vw;
  min-width: 120px;
  font-size: inherit;
  color: rgb(0, 0, 0);

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.2em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.5em;
  padding-left: 0.5em;

  border: none;

  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

#tempform {

  clip-path: polygon( calc( 0% + 0.55em ) 0, calc( 100% - 0.55em ) 0, 100% 50%, calc( 100% - 0.55em ) 100%, calc( 0% + 0.55em ) 100%, 0% 50%);
  background-color: rgb(235, 235, 235);
  height: 1.2em;
  
  width: 10vw;
  min-width: 60px;
  font-size: inherit;
  color: rgb(0, 0, 0);

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1em;
  margin-right: 0.2em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.5em;
  padding-left: 0.5em;

  border: none;

  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

#weather {
  color: white;
  font-size: inherit;
  text-align: center;
  width: 45vmin;
  min-width: 225px;
  height: 40vmin;
  min-height: 200px;
  margin: 30px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  position: absolute;
  transform: translateY(30vmin);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

#innerweather {
  width: 80%;
  height: 80%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#temperature {
  font-size: calc(6px + 4vmin);
}

#textinput::selection {
  border-radius: 50px;
}

::placeholder {
  color: #00000080;
}

.particle {
  position: fixed;
  width: 3vmin;
  height: 2.5vmin;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

  animation-name: cloud;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  display: flex;
  align-items: center;
  justify-content: center;
}

.innerparticle {
  transform: translateX( var(--x) );
  transform: translateY( var(--y) );
  position: fixed;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

  animation-name: cloud;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: 2;
}

@keyframes rain {
  from {
    transform: translateX( var(--x) ) translateY( -100vh );
  }

  to {
    transform: translateX( calc( var(--x) + 20vw ) ) translateY( 10vh );
  }
}

@keyframes cloud {
  from {
    transform: translateX( calc( var(--x) - 20vw ) ) translateY( var(--y) );
  }

  to {
    transform: translateX( calc( var(--x) + 100vw ) ) translateY( var(--y) );
  }
}
