
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

.App {
  position: fixed;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  border: none;
  box-shadow: none;
  outline: none;
}

#bottombackground {
  clip-path: polygon(62% 50%, 79% 46%, 100% 38%, 100% 100%, 0 100%, 0 46%, 18% 49%, 36% 41%, 49% 44%);
  width: 100%;
  height: 100%;
}

#nav {
  clip-path: polygon( calc( 0% + 1em ) 0, calc( 100% - 1em ) 0, 100% 50%, calc( 100% - 1em ) 100%, calc( 0% + 1em ) 100%, 0% 50%);
  font-size: calc( 8px + 1.5vw );
  background-color: black;

  margin-top: 1vh;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  width: 2vw;
  min-width: 30px;
  height: calc( 1.2em + 0.5vh );

  font-size: inherit;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.5em;
  margin-right: -1vw;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.05em;
  padding-left: 0.5em;

  border: none;

  transition-duration: 0.5s;

  box-sizing: border-box;
  box-shadow: none;
  outline: none;

  cursor: pointer;

}

#location {
  background-color: green;
  clip-path: polygon( calc( 0% + 0.55em ) 0, 100% 0, calc( 100% - 0.55em ) 50%, 100% 100%, calc( 0% + 0.55em ) 100%, 0% 50%)
}

#location:hover {
  background-color: greenyellow;
}

#previous {
  background-color: rgb(225, 225, 225);
  clip-path: polygon( calc( 0% + 0.55em ) 0, 100% 0, calc( 100% - 0.55em ) 50%, 100% 100%, calc( 0% + 0.55em ) 100%, 0% 50%);
}

#previous:hover {
  background-color: white;
}

#input {
  clip-path: polygon( calc( 0% + 1em ) 0, calc( 100% - 1em ) 0, 100% 50%, calc( 100% - 1em ) 100%, calc( 0% + 1em ) 100%, 0% 50%);
  background-color: black;
  padding: 0.5em;
  padding-left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}


#textinput {
  
  clip-path: polygon( calc( 0% + 0.55em ) 0, calc( 100% - 0.55em ) 0, 100% 50%, calc( 100% - 0.55em ) 100%, calc( 0% + 0.55em ) 100%, 0% 50%);
  background-color: rgb(225, 225, 225);
  height: calc( 1.2em + 0.5vh );
  
  width: 20vw;
  min-width: 100px;
  font-size: inherit;
  color: rgb(0, 0, 0);
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  
  border: none;
  
  box-sizing: border-box;
  box-shadow: none;
  outline: none;

  transition-duration: 0.5s;
}

#textinput:hover {
  background-color: white;
}

#tempform {
  
  clip-path: polygon( calc( 0% + 0.55em ) 0, calc( 100% - 0.55em ) 0, 100% 50%, calc( 100% - 0.55em ) 100%, calc( 0% + 0.55em ) 100%, 0% 50%);
  background-color: rgb(225, 225, 225);
  height: calc( 1.2em + 0.5vh );
  
  width: 10vw;
  min-width: 60px;
  font-size: inherit;
  color: rgb(0, 0, 0);
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1em;
  margin-right: 0.2em;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.5em;
  padding-left: 0.5em;

  border: none;

  box-sizing: border-box;
  box-shadow: none;
  outline: none;

  cursor: pointer;
  transition-duration: 0.5s;
}

#tempform:hover {
  background-color: white;
}

#weather {
  color: white;
  font-size: inherit;
  text-align: center;
  width: 45vmin;
  min-width: 225px;
  height: 40vmin;
  min-height: 200px;
  margin: 30px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  position: absolute;
  transform: translateY(30vh);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

#innerweather {
  width: 80%;
  height: 80%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  font-size: calc(6px + 3vmin);
}

#temperature {
  font-size: calc(6px + 4vmin);
}

#textinput::selection {
  border-radius: 50px;
}

::placeholder {
  color: #00000080;
}

.particle {
  position: absolute;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  animation-name: cloud;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  cursor: pointer;

  z-index: 3;
}

.innerparticle {
  position: absolute;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  animation-name: cloud;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  cursor: pointer;

  z-index: 4;
}

.droplet {
  position: fixed;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  animation-name: rain;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: 5;
}

.puff {
  position: fixed;
  width: calc( 1.5vmax * var(--scale) );
  height: calc( 1.25vmax * var(--scale));
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  animation-name: puff;
  animation-duration: 2s;
  animation-timing-function: linear;

  z-index: 2;
}

@keyframes rain {
  from {
    transform: translate( calc( var(--x) - 50vw ), 0 );
  }

  to {
    transform: translate( calc( var(--x) - 30vw ), 100vh );
  }
}

@keyframes cloud {
  from {
    transform: translate3d( calc(-50vw - 20vmax), var(--y), 0 );
  }

  to {
    transform: translate3d( calc(50vw + 20vmax), var(--y), 0 );
  }
}

@keyframes puff {
  from {
    transform: translate( calc(var(--x) - 50vw), var(--y) ) scale( 2 );
  }
  50% {
    transform: translate( calc(var(--nx) - 50vw), var(--ny) ) scale( 1 );
  }
  to {
    transform: translate( calc( var(--nx) - 48vw), var(--ny) );
  }
}
